h1{
    color: rgb(43, 83, 226);
}
img{
    width: 400px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: rgb(216, 218, 161);
    padding: 50px;
    border: 5px solid yellowgreen;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}
